<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	layout:decorate="~{layout}">


<head>
    <title>Cadastro Cliente</title>
    <meta charset="UTF-8">
</head>

<body>
		<form th:action="@{/clientes/editar}" th:object="${cliente}" method="POST">	
	
					<fieldset>
						<legend> <th th:text="#{edit_cli.label}"></th></legend>
						
						CPF <br/>
						<input type="text" name="cpf" th:value="${cliente.cpf}" readonly/> <br/>
						
						<th th:text="#{name.label}"></th> <br/>
						<input type="text" name="nome" th:value="${cliente.nome}"/> <br/>
						
						Email <br/>
						<input type="email" name="email" th:value="${cliente.email}"/> <br/>
						
						<th th:text="#{senha.label}"></th> <br/>
						<input type="text" name="senha" th:value="${cliente.senha}"/> <br/>
						
						<th th:text="#{sex.label}"></th> <br/>
						<input type="text" name="sexo" th:value="${cliente.sexo}"/> <br/>
						
						<th th:text="#{telefone.label}"></th> <br/>
						<input type="text" name="telefone" th:value="${cliente.telefone}"/> <br/>
						
						<th th:text="#{dataNasc.label}"></th> <br/>
						<input type="date" name="dataNascimento" th:value="${cliente.dataNascimento}"/> <br/>

						<input type="submit" name="enviar" value="atualizar" />
					</fieldset>
			</form>
		
</body>

</html>