<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>
			
	<table border="1">
		<thead>
			<tr>
				<th th:text="#{name.label}"></th>
				<th>Email</th>
				<th th:text="#{acao.label}"></th>
				<!-- <div sec:authorize="hasAuthority('Adm')">
					<th th:text="#{acao.label}"></th>
				</div> -->
			</tr>
		</thead>
		<tbody>
			<tr th:each="cliente : ${clientes}">
				<td th:text="${cliente.nome}"></td>
				<td th:text="${cliente.email}"></td>
				

				<td>
					<a th:href="@{/clientes/editar/{cpf} (cpf=${cliente.cpf}) }"
					role="button"> 
					<span th:text="#{editar.label}"></span>
					</a>
					<a th:href="@{/clientes/excluir/{cpf} (cpf=${cliente.cpf}) }"
					role="button"> 
					<span th:text="#{excluir.label}"></span>
 
				</td>
			
			</tr>
		</tbody>
	</table>


	
</body>
</html>
