<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/layout}">

<head>
	<title>Cadastro Cliente</title>
	<meta charset="UTF-8">
	
</head>


<body>	
		
	<fieldset>
		<form th:action="${/clientes/salvar}"
		th:object="${cliente}" method="POST">					
					
					<label for="cpf">CPF</label><br>
					<input
						type="text" id="cpf" placeholder="___.___.___-__" class="form-control"
						autofocus="autofocus" th:field="*{cpf}"
					/><br>


					
					<label for="nome">Nome</label><br>
					<input
						type="text" id="nome" class="form-control"
						autofocus="autofocus" th:field="*{nome}"
					/><br>

								
					<label for="email">Email</label> 
					<input type="email" class="form-control" id="email" placeholder="xxxx@email.com"
						autofocus="autofocus" th:field="*{email}"
					/><br>

					
					
					<label for="senha">Senha</label> 
						<input type="senha" class="form-control" id="senha"
							autofocus="autofocus" th:field="*{senha}"
					/> <br>

					<label for="telefone">Telefone</label>
					<input type="text" class="form-control" id="telefone" placeholder="XX X XXXX-XXXX"
						autofocus="autofocus" th:field="*{telefone}"
					/> <br>


					<label for="sexo">Sexo</label> 
					<select name="sexo" class="form-control" id="sexo">
						<option value="male">Male</option>
						<option value="female">Female</option>
						<option value="other">Other</option>
					</select>
					<br>
					
					<label for="dataNasc">Data de Nascimento</label> 
					<input type="date" class="form-control" id="dataNasc" placeholder="dd/mm/yyyy"
						autofocus="autofocus" th:field="*{dataNasc}"
					/> <br>

				<button type="submit">Salvar</button>			
		</form>
	</fieldset>
</body>

</html>