<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	layout:decorate="~{layout}">

<head>
    <title>Index</title>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>

<body>

		<h1>
			<span th:text="#{index.header}">		
		</h1>
			
		<h2>
			Bem vindo
		</h2>

		<a th:href="@{/login}">
			<div class="btn">
				Login
			</div>
		</a>

		<a th:href="@{/profissionais/listar}">
			<div class="btn">
				Listar Profissionais
			</div>
		</a>

		<!-- <div sec:authorize="hasRole('admin')"> -->
			<p><a th:href="@{/admin}">Admin Home</a></p>
		<!-- </div> -->
	
		

</body>

</html>
