<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">

<head>
    <title>Index</title>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>

<body>

		<div class="nav">
			<h1>
				Sistema de Agendamento		
			</h1>
			
		</div>		
		
		<div class="btns-sup">
			<div class=btns>
				<h2>
					Bem vindo
				</h2>

				<a href="login">
					<div class="btn">
						Login
					</div>
				</a>

				
				<a href="profissional/lista">
					<div class="btn">
						Lista de profissionais
					</div>
				</a>
				
			</div>
		</div>

</body>

</html>
