<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>
			
	<table border="1">
		<thead>
			<tr>
				<th th:text="#{name.label}"></th>
				<th>Especialidade</th>
				<th>Área</th>
				<!-- <th th:text="#{acao.label}"></th> -->
				<!-- <div sec:authorize="hasAuthority('Adm')">
					<th th:text="#{acao.label}"></th>
				</div> -->
			</tr>
		</thead>
		<tbody>
			<tr th:each="profissional : ${profissionais}">
				<td th:text="${profissional.nome}"></td>
				<td th:text="${profissional.especialidade}"></td>
				<td th:text="${profissional.area}"></td>
				<td> <a href="/agendar">Agendar</a></td>
			</tr>
		</tbody>
	</table>


	
</body>
</html>
