<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/layout}">

<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<link href="${pageContext.request.contextPath}/styles.css" rel="stylesheet" type="text/css" />

</head>

<body>

	<div class="nav">
		<h1>
			Sistema de Agendamento
		</h1>
	</div>

	<fieldset id="login">
		<p>
			<fmt:message key="cliente" />
		</p>
		<form th:action="@{/login}" method="post">
			<div>
				<div>
					<label for="username">Usuário:</label><br><input
							type="text" id="username" name="username" class="form-control"
							autofocus="autofocus"><br>
					<label for="senha">Senha:</label><br><input
							type="password" id="password" name="password"
							class="form-control"><br>
				</div>
				<div class="form-group">
					<div class="row">
						<input type="submit" name="login-submit" id="login-submit"
								class="form-control btn btn-info">
						
					</div>
				</div>
			</div>
		</form>
	</fieldset>
</body>

</html>